
body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e48aa584;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;

}

.wrapper div:nth-child(2) {
    animation: fly 8s ease-in infinite;
}

.wrapper div:nth-child(3) {
    animation: fly 6s ease-in infinite;
}

.wrapper div:nth-child(4) {
    animation: fly 9s ease-in infinite;
}

.wrapper div:nth-child(5) {
    animation: fly 7s ease-in infinite;
}

.wrapper div {
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: red;
    transform: rotate(46deg);
    opacity: .8;
    animation: fly 5s ease-in infinite;
}

.wrapper div::before {
    content: '';
    width: 20px;
    height: 20px;
    top: -10px;
    border-radius: 50%;
    position: absolute;
    background-color: red;
}

.wrapper div::after {
    content: '';
    width: 20px;
    height: 20px;
    right: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: red;
}

@keyframes fly {
    0% {
        transform: translateY(60vh) rotate(0deg);
    }

    50% {
        transform: translateY(-100vh) translateX(5vw) rotate(160deg);
    }

    100% {
        transform: translateY(-100vh) translateX(10vw) rotate(160deg);
        opacity: 0;
    }
}

.ucapan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    position: absolute;
    top: 20px;
}

.ucapan h1 {
    font-size: 20px;
    font-family:Serif;
    transform: scale(0);
    animation: scale .5s ease-in forwards;
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

#element {
    position: absolute;
    bottom: 110px;
}

.wrapper-3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-4{
    text-align: center;
    line-height: 40px;
    position: absolute;
    bottom: 180px;
}

.wrapper-4 button a{
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 100px;
    height: 30px;
    line-height: 30px;
}
.wrapper-4 button a:hover{
    color: white;
}

.wrapper-4 button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    transition: .3s;
}

.wrapper-4 button:hover{
    background-color: #dc629d;
    color: white;
}


/* responsive web */

@media screen  and (max-width:450px){

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fly love */
.wrapper div:nth-child(2) {
    animation: fly 8s ease-in infinite;
}
.wrapper div:nth-child(3) {
    animation: fly 6s ease-in infinite;
}
.wrapper div:nth-child(4) {
    animation: fly 9s ease-in infinite;
}
.wrapper div:nth-child(5) {
    animation: fly 14.5s ease-in infinite;
}
.wrapper div:nth-child(6) {
    animation: fly 10s ease-in infinite;
}
.wrapper div:nth-child(7) {
    animation: fly 5.9s ease-in infinite;
}
.wrapper div:nth-child(8) {
    animation: fly 7s ease-in infinite;
}
.wrapper div:nth-child(9) {
    animation: fly 7.9s infinite;
}
.wrapper div:nth-child(10) {
    animation: fly 11.5s ease-in infinite;
}
.wrapper div:nth-child(11) {
    animation: fly 7s ease-in infinite;
}
.wrapper div:nth-child(12) {
    animation: fly 10s ease-in infinite;
}
.wrapper div:nth-child(13) {
    animation: fly 15s ease-in infinite;
}
.wrapper div:nth-child(14) {
    animation: fly 8s ease-in infinite;
}
.wrapper div:nth-child(15) {
    animation: fly 13s ease-in infinite;
}
.wrapper div:nth-child(16) {
    animation: fly 11.9s ease-in-out infinite;
}

@keyframes fly {
    0% {
        transform: translateY(60vh) rotate(0deg);
    }

    50% {
        transform: translateY(-100vh) translateX(5vw) rotate(160deg);
    }

    100% {
        transform: translateY(-100vh) translateX(10vw) rotate(160deg);
        opacity: 0;
    }
}
/* akhir fly */

/* love */
.wrapper div {
   
    width: 20px;
    height: 20px;
    background-color: red;
    transform: rotate(46deg);
    opacity: .8;
    animation: fly 5s ease-in infinite;
}

.wrapper div::before {
    content: '';
    width: 20px;
    height: 20px;
    top: -10px;
    border-radius: 50%;
    position: absolute;
    background-color: red;
}

.wrapper div::after {
    content: '';
    width: 20px;
    height: 20px;
    right: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: red;
}
/* akhir love */


#ucapan {
    display: none;
    justify-content: center;
    align-items: center;
    height: 50vh;
    position: absolute;
    top: 20px;
}

#ucapan h1 {
    font-size: 35px;
    font-family: "Charm", cursive;
    transform: scale(0);
    animation: scale .5s ease-in forwards;
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

#wrapper-4{
    display: none;
    text-align: center;
    line-height: 40px;
    position: absolute;
    bottom: 250px;
}

#wrapper-4 button a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 100px;
    height: 30px;
    line-height: 30px;
}
#wrapper-4 button a:hover{
    color: white;
}

#wrapper-4 button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    transition: .3s;
}

#wrapper-4 button:hover{
    background-color: #dc629d;
    color: white;
}

#textArea{
    display: none;
    top: 280px;
    width: 300px;
    height: 300px;
    border: 2px solid rgb(205, 117, 132);
    position: absolute;
    background-color: aliceblue;
    border-radius: 10px;
    z-index: 9999;
}

#element {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 10px;
}

/* animation */
.fadIn{
    transform: scale(0);
    animation: in .3s ease-in forwards;
}
@keyframes in {
    100%{
        transform: scale(1);
    }
}
.fadOut{
    transform: scale(1);
    animation: out .3s ease-out forwards;
}

@keyframes out {
    100%{
        transform: scale(0);
    }
}
/* .kotak{
    width: 200px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    border-radius: 5px;
    border: 2px solid rgb(209, 96, 254);
    animation: text .5s ease-in forwards;
    transform: scale(0);
    overflow-y: auto;
}

@keyframes text {
    100%{
        transform: scale(1);
    }
} */
}
/* akhir responsive */